.fields
  %hr
  = f.label :answer_text
  = f.text_field :text
  = f.label 'correct', :style => "display: inline-block;"
  = f.check_box :correct
  %br
  = f.hidden_field :_destroy
  = link_to 'Remove answer', '#', :class => 'remove_fields'
  %hr