%table
  %tr
    %th Exam
    %th Fee
    %th Pass rate
    %th Number of passes
    %th Number of fails
    %th Owner
    - if @exams.present?
      - @exams.each do |exam|
        %tr
          %td= link_to(exam.name, exam, :class => 'button tiny radius secondary')
          %td= number_to_currency(exam.cost)
          %td= exam.pass_rate
          %td= exam.runs.select{|x| x.passed? == true}.count if exam.runs.present?
          %td= exam.runs.select{|x| x.passed? != true}.count if exam.runs.present?
          %td= User.find(exam.creator_id).first

