%h1 This is a Placeholder Exams Index Page
%table
  - @exams.each do |exam|
    %tr{:style=>"background-color:#{cycle('#eee','#ccc')};"}
      %td= exam.name
      %td
        - if @auth.customer_id.present?
          = form_tag purchase_exam_path(exam) do
            = submit_tag "Buy for #{number_to_currency(exam.cost)}", :class=>'button tiny radius alert'
        - else
          %script{:src => "https://checkout.stripe.com/v2/checkout.js",
            :class => "stripe-button",
            :'data-label' => exam.name,
            :'data-amount' => (exam.cost * 100).to_i,
            :'data-key' => Rails.configuration.stripe[:publishable_key]}
          = form_tag purchase_exam_path(exam), :remote=>true do end


