%h1 New Exam Page
= form_for @exam do |f|
  = f.label :exam_name
  = f.text_field :name
  = f.fields_for :questions do |builder|
    = builder.label :text
    = builder.text_area :text
  = f.submit 'submit'